<%= form_for(@tgl_row) do |f| %>
  <% if @tgl_row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tgl_row.errors.count, "error") %> prohibited this tgl_row from being saved:</h2>

      <ul>
      <% @tgl_row.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :billable %><br />
    <%= f.text_field :billable %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :usd_amount %><br />
    <%= f.text_field :usd_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
